accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
asgiref
asttokens
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
boto3
botocore
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
deepdiff
Deprecated
distro
effdet
emoji
environs
exceptiongroup
executing
fastapi
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iopath
ipykernel
ipython
jedi
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpath-python
jsonpointer
jupyter_client
jupyter_core
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-milvus
langchain-openai
langchain-text-splitters
langgraph
langdetect
langsmith
layoutparser
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
oauthlib
omegaconf
onnx
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orderly-set
orjson
overrides
packaging
pandas
parso
pdf2image
pdfminer.six
pdfplumber
pexpect
pi_heif
pikepdf
pillow
platformdirs
portalocker
posthog
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pymilvus
docling
PyMuPDF
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-iso639
python-magic
python-multipart
pytz
PyYAML
pyzmq
rapidfuzz
regex
requests
requests-oauthlib
requests-toolbelt
rich
rsa
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tabulate
tenacity
threadpoolctl
tiktoken
timm
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing_extensions
tzdata
ujson
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
urllib3
uvicorn
watchfiles
wcwidth
websocket-client
websockets
wrapt
yarl
zipp
pypinyin
feedparser
modelscope
bm25s
